.itemSearch{
    display: flex;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    justify-content: space-between;
    color: rgb(226 232 240 /1);
    text-decoration: inherit;
    margin-top: 5px;
}
.itemSearch:hover {
    color: rgb(226 232 240 /1);
}
.search{
    padding: 0 5px;
    display: grid;
    flex: 1 1 0%;
    width: 100%;
    grid-row-start: 2;
}
.formSeach{
    position: relative;
    width: 100%;
}
.btnTask{
    background-color: rgb(51 65 85 / .3);
    color: rgb(226 232 240 /1);
    padding: 0.5rem;
    width: 100%;
    border-radius: 0.375rem;
}
.inputStyles{
    background-color: rgb(20 30 51 /1);
}
.listResultsVisible{
    background-color: rgb(20 30 51 /1);
    color: rgb(226 232 240 /1);
    position: absolute;
    top: 3.5rem;
    z-index: 10;
    padding: 0.75rem;
    width: 100%;
    border-radius: 0.375rem;
}
@media (min-width: 768px) {
    .search{
    padding-right: 2.5rem;
    }
    .formSeach
    {
        max-width: 20rem;
    }
}
