.btn{
    margin: 2rem 1rem;
    background-color: rgb(91 33 182 /1);
    color: rgb(248 250 252 /1);
    padding: 0.75rem 1.5rem;
    width: auto;
    border-radius: 0.5rem/* 8px */;
    border-color: transparent;
    font-size: 16px;
}
.btn:hover{
    background-color: rgb(76 29 149 /1);
}
.btn:active {
    transform: scale(0.95);
}